*{
  box-sizing: border-box;
}
.linkLogout:hover {
  text-decoration: none;
  color: gray;
}
.linkLogout {
  color: white;
  margin-right: 20px;
}
.login {
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
}
.login-btn {
  background-color: #429790;
  color: #fff;
  border: none;
}

.login-btn:hover {
  background-color: #85d1cb;
}

.form-control {
  width: 100%;
}
/* REgister style */
.register {
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 340px;
}

.priceText {
  padding: 3px;
  background-color: orange;
  color: white;
  border-radius: 3px;
  font-weight: 800;
}
.vegetable__section {
  display: flex;
}
.inputFilter{
  margin-right: 15px;
}


